.searchContainer{
    width: 100%;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.searchInput{
    background: transparent;
    border: none;
    width: 100%;
    border-radius: 25px;
    padding-left: 20px; 
    box-sizing: border-box;
    font-weight: bold;
    color: black;
    &:focus{
        outline: none;
    }
}

.iconContainer{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: inherit;
    padding: 10px;
}

.searchImg{
    height: 100%;
}