.tableContainer {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
    border:1px solid #dddddd;
    border-radius: 6px;
    tr {
        &.hide {
            display: none;
        }
       
        td,
        th {
            padding: 10px;
            text-align: left;
        }

        th {
            &:first-child {
                border-left: 1px solid #dddddd;
            }
        }

        td {
            .checkboxContainer {
                display: flex;
                height: 30px;
                justify-content: left;
                align-items: center;
                width: 10px;
                .checkboxIcon {
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    height: inherit;
                    padding: 5px;
                    &.ml {
                        margin-left: 30px;
                    }
                }
                .iconDown {
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-sizing: border-box;
                    height: inherit;
                    padding: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &.optionTable {
                width: 70px;
            }
            &:first-child {
                border-left: 1px solid #dddddd !important;
            }
            &:last-child {
                border-right: 1px solid #dddddd !important;
            }
            .imgIcon {
                height: 30px;
            }
        }

        &:last-child {
            td {
                border-bottom: 1px solid #dddddd !important;
            }
        }
    }

    tbody {
        tr {
            &:nth-child(5n) {
                td {
                    border-bottom: 1px solid #dddddd !important;
                }
            }
        }
    }

    .tableName {
        background-color: #dddddd;
    }
}

// /* top-left border-radius */
// table tr:first-child th:first-child {
//     border-top-left-radius: 6px;
// }

// /* top-right border-radius */
// table tr:first-child th:last-child {
//     border-top-right-radius: 6px;
// }

// /* bottom-left border-radius */
// table tr:last-child td:first-child {
//     border-bottom-left-radius: 6px;
// }

// /* bottom-right border-radius */
// table tr:last-child td:last-child {
//     border-bottom-right-radius: 6px;
// }
